<%= provide :title, "Sign up" %>

<%= form_for(@company, url: signup_path) do |f| %>

  <%= f.fields_for :users do |e| %>

    <div class="row m-b-1 <%= error_class @company.users[0], :name %>">
      <div class="std-label text-sm-right">
        <%= e.label :name, "Your name" %>
      </div>
      <div class="std-control">
        <%= e.text_field :name, autofocus: true %>
        <%= custom_error_message @company.users[0], :name, "Your name" %>
      </div>
    </div>

    <div class="row m-b-1 <%= error_class @company.users[0], :email %>">
      <div class="std-label text-sm-right">
        <%= e.label :email %>
      </div>
      <div class="std-control">
        <%= e.email_field :email %>
        <%= error_message @company.users[0], :email %>
      </div>
    </div>

    <div class="row m-b-1 <%= error_class @company, :name %>">
      <div class="std-label text-sm-right">
        <%= f.label :name, "Company name" %>
      </div>
      <div class="std-control">
        <%= f.text_field :name %>
        <%= custom_error_message @company, :name, "Company name" %>
      </div>
    </div>

    <div class="row m-b-1 <%= error_class @company.users[0], :password %>">
      <div class="std-label text-sm-right">
        <%= e.label :password %>
      </div>
      <div class="std-control">
        <%= e.password_field :password %>
        <%= error_message @company.users[0], :password %>
      </div>
    </div>

  <% end %>

  <div class="row">
    <div class="std-submit text-xs-right">
      <%= f.submit "Sign Up Now", class: "btn btn-success" %>
    </div>
  </div>

<% end %>
