<hr>

<%= form_for(@user) do |f| %>

  <div class="row m-b-1">
    <div class="std-label text-sm-right">
      <%= f.label :name %>
    </div>
    <div class="std-control">
      <%= f.text_field :name, autofocus: true  %>
    </div>
  </div>

  <div class="row m-b-1">
    <div class="std-label text-sm-right">
      <%= f.label :email %>
    </div>
    <div class="std-control">
      <%= f.email_field :email %>
    </div>
  </div>

  <!-- TODO replace these with reset pw by email link once initial pw is set as part of activation -->

  <div class="row m-b-1">
    <div class="std-label text-sm-right">
      <%= f.label :password %>
    </div>
    <div class="std-control ">
      <%= f.password_field :password, class: '' %>
    </div>
  </div>

  <div class="row">
    <div class="std-submit text-xs-right">
      <%= f.submit "#{@user.new_record? ? 'Add User' : 'Update'}", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
