<hr>

<%= form_for(@user) do |f| %>

  <div class="row m-b-1">
    <div class="std-label text-sm-right">
      <%= f.label :name %>
    </div>
    <div class="std-control">
      <%= f.text_field :name, autofocus: true  %>
    </div>
  </div>

  <div class="row m-b-1">
    <div class="std-label text-sm-right">
      <%= f.label :email %>
    </div>
    <div class="std-control">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="row m-b-1">
    <div class="std-label text-sm-right">
      <%= f.label :role do %>
        <span>Role</span>
      <% end %>
    </div>
    <div class="std-control">
      <%= f.select :role, options_for_select([['User', "user"], ['Administrator', "admin"]], @user.role) %>
    </div>
  </div>

  <div class="row">
    <div class="std-submit text-xs-right">
      <%= f.submit "#{@user.new_record? ? 'Add User' : 'Update'}", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
