<% provide(:title, "Users") %>

<% if current_user.admin? %>
  <%= link_to "Add User", new_user_path, class: "btn btn-primary pull-xs-right" %>
<% end %>

<div class="m-b-1">
  <%= render partial: @users %>
</div>
<div class="m-b-1">
  <%= pluralize @users.count, "person" %>
</div>

<% if @invited.size > 0 %>
  <div>
    Waiting for <%= pluralize @invited.count, "person" %> to confirm -
    <%= render partial: @invited %>
  </div>
<% end %>
