<% provide(:title, "Users") %>

<% if current_user.admin? %>
  <div class="row m-b-1">
    <%= form_for User.new, remote: true do |f| %>

      <div class="col-xs-12 col-md-5 col-lg-5 col-xl-4 col-xl-offset-1">
        <%= f.text_field :name, autofocus: true, placeholder: 'Name'  %>
      </div>

      <div class="col-xs-12 col-md-5 col-lg-5 col-xl-4">
        <%= f.text_field :email, placeholder: 'Email' %>
      </div>

      <div class="col-xs-12 col-md-2 col-lg-2">
        <%= f.submit 'Add', class: 'btn btn-primary btn-block' %>
      </div>

    <% end %>
  </div>
<% end %>

<div class="m-b-1">
  <%= render partial: @users %>
</div>
<div class="m-b-1">
  <%= pluralize @users.count, "person" %>
</div>

<div id="invited" class="m-b-1 <%= @invited.empty? ? 'invisible' : '' %>">
  <span class="p-r-1">
    <span id="invited_count"><%= @invited.count %></span> invited
  </span>
  <%= render partial: @invited %>
</div>
