<% provide(:title, "Users") %>

<% if current_user.admin? %>
  <%= link_to "Add User", new_user_path, class: "btn btn-primary pull-xs-right" %>
<% end %>

<h1>Users</h1>
<hr>

<div class="m-b-1">
  <%= render partial: @users %>
</div>

<% if @invited.size > 0 %>
  <div class="m-b-1">
    <span class="text-muted">Invited</span>
    <%= render partial: @invited %>
  </div>
<% end %>

<p class="text-muted">
  <%= pluralize @users.count, "activated user" %>
  <%= "/ #{pluralize(@invited.count, "invited user")}" if @invited.size > 0 %>
</p>
