<% provide(:title, "Users") %>

<% if current_user.admin? %>
  <%= link_to "Add User", new_user_path, class: "btn btn-primary pull-xs-right" %>
<% end %>

<h1>Users</h1>
<hr>

<div class="m-b-1">
  <%= render partial: @users %>
</div>

<p class="text-muted">
  <%= pluralize @users.count, "user" %>

  <% if @invited.size > 0 %>
    plus <%= @invited.count %> invited
    <%= render partial: @invited %>
  <% end %>
</p>
