<% provide(:title, "Users") %>

<% provide :toolbar do %>
  <% if current_user.admin? %>
    <div class="hidden-md-up">
      <%= link_to "Invite User", new_user_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>


<div class="row">

  <div class="col-xs-12 col-md-7 col-lg-8">
    <div class="m-b-1">
      <%= render partial: @users %>
    </div>
    <div class="m-b-1">
      <%= pluralize @users.count, "person" %>
    </div>

    <hr class="m-y-2 hidden-md-up">
  </div>


  <div class="col-xs-12 col-md-5 col-lg-4">

    <div class="hidden-sm-down">
      <% if current_user.admin? %>
        <%= form_for User.new, remote: true, authenticity_token: true do |f| %>
          <h4 class="m-b-1">Quick invite</h4>
          <%= f.text_field :name, autofocus: true, placeholder: 'Name', class: 'form-group' %>
          <%= f.text_field :email, placeholder: 'Email', class: 'form-group' %>
          <%= f.hidden_field :send_invitation, value: "1" %>
          <div class="text-xs-right">
            <%= f.submit 'Send Invitation', class: 'btn btn-primary ajax-submit' %>
          </div>
        <% end %>
      <% end %>

    </div>

    <div id="invited" class="m-b-1 <%= @invited.empty? ? 'invisible' : '' %>">
      <hr class="m-y-2 hidden-sm-down">
      <h6 class="">Invited, waiting for reply</h6>
      <%= render partial: @invited %>
    </div>

    <div id="added" class="m-b-1 <%= @new.empty? ? 'invisible' : '' %>">
      <hr class="m-y-2 hidden-sm-down">
      <h6 class="">Set up, waiting for invite</h6>
      <%= render partial: @new %>
    </div>

  </div>

</div>
