<% provide(:title, "Users") %>

<% provide :toolbar do %>
  <div class="hidden-md-up">
    <%= link_to "Invite User", new_user_path, class: 'btn btn-primary' %>
  </div>
<% end %>


<div class="row">

  <div class="col-xs-12 col-md-7 col-lg-8">
    <div class="m-b-1">
      <%= render partial: @users %>
    </div>
    <div class="m-b-1">
      <%= pluralize @users.count, "person" %>
    </div>

    <hr class="m-y-2 hidden-md-up">
  </div>


  <div class="col-xs-12 col-md-5 col-md-offset-0 col-lg-4">

    <div class="hidden-sm-down">
      <% if current_user.admin? %>
        <%= form_for User.new, remote: true do |f| %>
          <h4 class="m-b-1">Invite new user</h4>
          <%= f.text_field :name, autofocus: true, placeholder: 'Name', class: 'form-group' %>
          <%= f.text_field :email, placeholder: 'Email', class: 'form-group' %>
          <%= f.submit 'Send Invitation', class: 'btn btn-primary btn-block' %>
        <% end %>
      <% end %>

    </div>

    <div id="invited" class="m-b-1 <%= @invited.empty? ? 'invisible' : '' %>">
      <hr class="m-y-2 hidden-sm-down">
      <h6 class="">Invited, waiting for reply</h6>
      <%= render partial: @invited %>
    </div>

  </div>

</div>
