<% provide(:title, @user.name) %>

<h1>
  <%= @user.name %>
</h1>
<hr>

<p>
  <%= link_to @user.company.name, @user.company %>
</p>

<p>
  Activated - <%= @user.activated? %>
</p>

<p>
  Role - <%= @user.role %>
</p>

<% if current_user.admin? %>
  <%= link_to "edit", edit_user_path(@user)  %>
<% end %>

<% if current_user.admin? && !current_user?(@user) %>
  <%= link_to "delete", @user, method: :delete, data: { confirm: "Are you sure you want to delete #{@user.name}?" } %>
<% end %>
