<%= provide :title, "Activate account" %>

<%= form_for(@user, url: user_activation_path(@user)) do |f| %>

  <%= hidden_field_tag :token, @user.activation_token %>

  <div class="row m-b-1 <%= error_class @user, :password %>">
    <div class="std-label text-sm-right">
      <%= f.label :password, "Choose password" %>
    </div>
    <div class="std-control">
      <%= f.password_field :password, autofocus: true %>
      <%= custom_error_message @user, :password, "Choose password" %>
    </div>
  </div>

  <div class="row m-b-1">
    <div class="std-submit text-xs-right">
      <%= f.submit "Complete", class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
