<header id="nav">

  <div id="nav-container" class="container p-t-1">

    <% if flash[:notice] %>
      <%= render partial: 'shared/flash', locals: { msg: flash[:notice] } %>
    <% end %>

    <% if logged_in? %>

      <% if current_user.root? %>
        <div class="text-muted pull-xs-right">
          <%= link_to current_user.company.name, companies_path %>
        </div>
      <% end %>

      <% if current_user.admin? %>
        <%= link_to "Company", company_path(current_user.company) %>
      <% end %>

      <%= link_to "Users", users_path %>

      <%= link_to "Updates", updates_path %>

      <% unless current_user.root? %>
        <%= link_to "Me", current_user %>
      <% end %>

    <% else %>

      <div class="pull-xs-right">
        <%= link_to "Sign up", new_signup_path %>
      </div>

      <div>
        <%= link_to "Log in", login_path %>
      </div>

    <% end %>

    <hr>

  </div>

</header>
