<% update = user.updates.last %>

<div class="p-b-1" id="<%= user.id %>">
  <% if update.nil? %>
    nil...
  <% elsif update.created_at.today? %>
    <%= update.message %>
    <span class="text-muted small nowrap">
      <%= update.created_at.strftime '%A %e %B %Y %R' %>
    </span>
  <% else %>
    missing today...
    <span class="text-muted small nowrap">
      last update
      <%= update.created_at.strftime '%A %e %B %Y %R' %>
    </span>
  <% end %>

  <div class="text-muted nowrap">
    &mdash; <%= user.name %>
  </div>

</div>