<header class="navbar navbar-dark navbar-fixed-top bg-inverse">

  <div class="container">
    <%= link_to "Enigmatic Springs", root_path, id: "logo", class: "navbar-brand" %>

    <ul class="nav navbar-nav pull-right">

      <% if logged_in? %>

        <li class="nav-item"><%= link_to "Users", users_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Profile", current_user, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Settings", edit_user_path(current_user), class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Log out", logout_path, method: "delete", class: "nav-link" %></li>

      <% else %>

        <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>

      <% end %>

    </ul>
  </div>
</header>
