<header class="m-t-1">

  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "text-xs-center text-#{message_type}") %>
  <% end %>

  <%= link_to "Home", root_path, id: "logo", style: "padding-right: 1rem;" %>

  <% if logged_in? %>
    <%= link_to "Users", users_path, style: "padding-right: 1rem;" %>
    <%= link_to "Me", current_user %>
  <% else %>
    <%= link_to "Sign up", signup_path, style: "padding-right: 1rem;" %>
    <%= link_to "Log in", login_path %>
  <% end %>

  <!-- screen size debug -->
  <div class="text-xs-center text-muted pull-xs-right ">
    <span class="hidden-sm-up">xs</span>
    <span class="hidden-xs-down hidden-md-up">sm</span>
    <span class="hidden-sm-down ">md</span>
    <!-- <span class="hidden-md-down hidden-xl-up">lg</span>
    <span class="hidden-lg-down ">xl</span> -->
  </div>

</header>

<hr>
