<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body style="">

    <%= render partial: 'shared/header' %>

    <div id="main" class="m-t-1">
      <div class="container">

        <div class="pull-xs-right">
          <%= yield :toolbar %>
        </div>

        <h1><%= yield :title %></h1>
        <hr class="m-b-2">

        <%= yield %>

      </div>

    </div>

    <%= render partial: 'shared/footer' %>

  </body>

</html>
